<!-- <p>Hi {{ user.first_name }} {{ user.last_name }}</p>
<h2>Congratulations! Your loan request of {"{:,.2f}".format(float(amount))}$ was approved</h2>
<p>After your loan, your account balance is {"{:,.2f}".format(float(user.account.balance))}$</p>
<p>Thank you for using our service</p>
<p>Regards</p>
<p>Mamar Bank</p> -->

<p>Hi {{ user.first_name }} {{ user.last_name }}</p>
<h2>Congratulations! Your loan request of ${{amount}} was approved</h2>
<p>After your loan, your account balance is {{user.account.balance}} </p>
<p>Thank you for using our service</p>
<p>Regards</p>
<p>Mamar Bank</p>
