<!-- <p>Hi {{ user.first_name }} {{ user.last_name }}</p>
<p>Your withdrawal of {"{:,.2f}".format(float(amount))}$ was successful. After your withdrawal, your account balance is {"{:,.2f}".format(float(user.account.balance))}$</p>
<p>Thank you for using our service</p>
<p>Regards</p>
<p>Mamar Bank</p> -->


<p>Hi {{ user.first_name }} {{ user.last_name }}</p>
<!-- <p>Your deposit request of {"{:,.2f}".format(float(amount))}$ was successful. After your deposit, your account balance is {"{:,.2f}".format(float(user.account.balance))}$</p> -->
<p>Your withdrawal request of ${{amount}} has been successfully completed. After withdrawal your total amount is {{user.account.balance}}</p>
<p>Thank you for using our service</p>
<p>Regards</p>
<p>Mamar Bank</p>