asgiref
crispy-bootstrap5
crispy-tailwind
dj-database-url
Django
django-appconf
django-bootstrap5
django-compressor
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
rcssmin
rjsmin
sqlparse
typing_extensions
tzdata